@use "base/reset";
@use "base/base";

@use "global/index";

@use "layout/header";
@use "layout/section";
@use "layout/front-page";
@use "layout/about";
@use "layout/history";
@use "layout/greeting";
@use "layout/career";
@use "layout/footer";

@use "components/loading";
@use "components/logo";
@use "components/global-nav";
@use "components/sns";
@use "components/btn";
@use "components/hero";
@use "components/page-hero";
@use "components/breadcrumb";
@use "components/news-list";
@use "components/swiper";
@use "components/card";
