@use "base/reset";
@use "base/base";

@use "global/index";

@use "components/header";
@use "components/logo";
@use "components/global-nav";
@use "components/sns";
@use "components/btn";
@use "components/hero";
@use "components/news-list";
@use "components/section";
