/////////////////Media Query///////////////////
$breakpoints: (
  "sm": "(max-width: 576px)",
  "md": "(max-width: 768px)",
  "lg": "(max-width: 992px)",
  "xl": "(max-width: 1200px)",
  "xxl": "(max-width: 1400px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}

/////////////////Animation///////////////////
@mixin transition(
  $property: all,
  $duration: 0.5s,
  $timing-function: ease,
  $delay: 0
) {
  transition: {
    property: $property;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
  }
}

@mixin animation(
  $name,
  $duration,
  $iteration-count,
  $direction,
  $timing-function
) {
  animation: {
    name: $name;
    duration: $duration;
    iteration-count: $iteration-count;
    direction: $direction;
    timing-function: $timing-function;
  }

  @keyframes page-top {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    50.1% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }
}
