///////////////////Color/////////////////////
$white: #ffffff;
$black: #222222;
$gray: #707070;
$l-gray: #f5f5f5;

///////////////////font/////////////////////
@font-face {
  font-family: "kouzan";
  src: url("衡山毛筆フォント.ttf");
}

@font-face {
  font-family: "ZenAntiqueSoft";
  src: url("ZenAntiqueSoft-Regular.ttf");
}

$main-font: "Times New Roman", YuMincho, "Yu Mincho", sans-serif;
$sub-font: "kouzan", sans-serif;
$sec-font: "ZenAntiqueSoft", sans-serif;
