@use "../global/index" as g;

.breadcrumb {
  background-color: g.$l-gray;
  font-size: 14px;
  padding: 10px;

  @include g.mq(md) {
    font-size: 12px;
  }

  & span[property="name"] {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & a {
    color: g.$gray;
    @include g.transition();

    &:hover {
      opacity: 0.8;
    }
  }
}
