@use "../global/index" as g;

.contact-btn {
  display: block;
  margin-top: 40px;
  @include g.transition();
  opacity: 0;
  visibility: hidden;
  text-align: center;

  @include g.mq(md) {
    &__link.active:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__link--footer:hover {
    opacity: 1;
  }

  &__web,
  &__tel {
    display: block;
    width: 300px;
    height: 90px;
    border: 1px solid g.$black;
    margin: 20px auto;
    @include g.transition();

    &:hover {
      background-color: g.$black;
      color: g.$l-gray;

      & span::before,
      span::after {
        background-color: g.$l-gray;
        right: -20%;
      }
    }

    &--footer {
      text-align: center;
      border: 1px solid g.$white;

      @include g.mq(lg) {
        width: 200px;
      }

      @include g.mq(md) {
        width: calc(375px - 30px * 2);
      }

      &:hover {
        background-color: g.$white;
        color: g.$black;

        & span::before,
        span::after {
          background-color: g.$black;
        }
      }
    }
  }

  &__web span {
    position: relative;
    top: -1rem;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      border-radius: 1px;
      background-color: g.$black;
      position: absolute;
      bottom: -1rem;
      right: 0;
      @include g.transition();
    }

    &::after {
      content: "";
      width: 20%;
      height: 1.2px;
      border-radius: 1px;
      background-color: g.$black;
      position: absolute;
      bottom: -1rem;
      right: 0;
      transform-origin: right;
      transform: rotate(-30deg);
      @include g.transition();
    }
  }

  &__web--footer span {
    &::before,
    &::after {
      background-color: g.$white;
    }
  }

  &__tel span {
    line-height: 1.5rem;
  }
}

.more-btn {
  display: block;
  position: relative;
  width: 300px;
  border: 1px solid g.$black;
  background-color: g.$black;
  color: g.$white;
  padding: 15px 0;
  text-align: center;
  margin: 0 auto;
  @include g.transition();

  &--full {
    width: 100%;
  }

  &:hover {
    background-color: g.$white;
    color: g.$black;
  }
}

.page-top-btn {
  font-size: 14px;
  position: relative;
  writing-mode: vertical-rl;
  color: g.$gray;
  position: fixed;
  bottom: 100px;
  right: 5vw;
  z-index: 30;
  opacity: 0;
  cursor: pointer;
  @include g.transition();

  &:before {
    content: "";
    position: absolute;
    top: -30px;
    left: -5px;
    width: 2px;
    height: 100px;
    border-radius: 2px;
    background-color: g.$gray;
    @include g.animation(
      $name: page-top,
      $duration: 2s,
      $iteration-count: infinite,
      $direction: reverse,
      $timing-function: cubic-bezier(1, 0, 0, 1)
    );
  }

  &:after {
    content: "";
    position: absolute;
    top: -30px;
    left: -5px;
    transform: rotate(-30deg);
    transform-origin: top;
    width: 2.4px;
    border-radius: 2px;
    height: 20px;
    background-color: g.$gray;
  }
}
