@use "../global/index" as g;

.section {
  padding: 40px 0 80px;
  overflow: hidden;

  &__title {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 80px;
  }

  &__title-main {
    padding-top: 120px;
    margin: 0 auto;
    writing-mode: vertical-rl;
    height: max-content;
    font-size: 24px;
    font-weight: bold;

    &::before {
      content: "";
      width: 1px;
      height: 80px;
      background-color: g.$gray;
      position: absolute;
      left: 50%;
      top: 20px;
    }
  }

  &__title-sub {
    position: absolute;
    top: 50%;
    font-size: 48px;
    color: g.$gray;
    text-shadow: 2px 2px 5px g.$gray;

    &.reverse {
      right: 0;
    }

    @include g.mq(md) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.reverse {
      flex-direction: row-reverse;
    }

    @include g.mq(md) {
      display: block;
    }
  }

  &__figure {
    position: relative;
    width: 45%;

    @include g.mq(md) {
      width: 100%;
    }
  }

  &__comment {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    top: -50px;
    left: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    padding: 10px;
    font-family: g.$sec-font;

    &.reverse {
      right: 30px;
      left: auto;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    height: 450px;
    box-shadow: 20px 20px g.$gray;

    @include g.mq(md) {
      max-height: 300px;
      box-shadow: 10px 10px g.$gray;
    }
  }

  &__map {
    width: 100%;
    height: 450px;
  }

  &__content {
    width: 45%;

    @include g.mq(md) {
      margin-top: 30px;
      width: 100%;
    }
  }

  &__text {
    margin: 10px auto 40px;
  }

  &__access-item {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:not(:last-of-type) {
      border-bottom: 1px solid g.$gray;
    }
  }

  &__access-nav {
    width: 280px;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
    @include g.transition();

    &:hover {
      background-color: g.$black;
      color: g.$white;
      opacity: 1;
    }

    @include g.mq(md) {
      font-size: 16px;
      width: 240px;
    }

    &::before {
      content: "";
      width: 64px;
      height: 1px;
      border-radius: 1px;
      background-color: g.$gray;
      position: absolute;
      right: 20px;
      top: 50%;
      @include g.transition();
    }

    &::after {
      content: "";
      width: 20px;
      height: 1.2px;
      border-radius: 1px;
      background-color: g.$gray;
      position: absolute;
      right: 20px;
      top: 50%;
      transform-origin: right;
      transform: rotate(-30deg);
      @include g.transition();
    }
  }
}
