@use "../global/index" as g;

.swiper__gallery {
  padding-bottom: 40px;
  & .swiper-slide {
    overflow: hidden;
    width: 100%;
    height: 22vw;

    @include g.mq(md) {
      height: 300px;
    }

    & img {
      width: 100%;
      height: 22vw;
      object-fit: cover;
      @include g.transition();

      &:hover {
        transform: scale(1.1);
      }

      @include g.mq(md) {
        height: 300px;
      }
    }
  }

  & .swiper-pagination-bullet-active {
    background-color: g.$black;
  }
}

.swiper__hero {
  height: 100%;
  & .swiper-slide {
    width: 100%;
    height: 100%;
  }

  & .swiper-pagination-bullet-active {
    background-color: g.$black;
  }
}
