@use "../global/index" as g;

body {
  font-family: g.$main-font;
  color: g.$black;
}

a {
  @include g.transition();
  &:hover {
    opacity: 0.8;
  }
}

main {
  margin: 0 0 0 200px;
  @include g.mq(md) {
    margin: 0;
    padding-top: 80px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 30px;
}
