@use "../global/index" as g;

body {
  font-family: g.$main-font;
  color: g.$black;
}

a {
  @include g.transition();
  &:hover {
    opacity: 0.8;
  }
}

main {
  @include g.transition($delay: 1s, $duration: 1s);

  &.header-fadein {
    margin: 0 0 0 200px;

    @include g.mq(md) {
      margin: 0;
      padding-top: 80px;
    }
  }
}

.container {
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.background {
  background-color: g.$l-gray;
}

.fadein-normal {
  opacity: 0;
  transform: translateY(-10%);
  @include g.transition($duration: 2s);

  &.appear {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadein-textR {
  overflow: hidden;
  transform: translate(-100%, 0);
  @include g.transition($duration: 2s);

  & span {
    display: block;
    transform: translate(100%, 0);
    @include g.transition($duration: 2s);
  }

  &.appear,
  &.appear span {
    transform: translate(0, 0);
  }
}

.fadein-textT {
  overflow: hidden;
  transform: translate(0, -100%);
  @include g.transition($duration: 2s);

  & span {
    display: block;
    transform: translate(0, 100%);
    @include g.transition($duration: 2s);
  }

  &.appear,
  &.appear span {
    transform: translate(0, 0);
  }
}

