@use "../global/index" as g;

.sidebar {

  &__category {
    margin-bottom: 40px;
  }

  &__title {
    font-weight: bold;
    padding: 10px;
    background-color: g.$l-gray;
    border: 1px solid g.$gray;
    border-bottom: none;
  }

  &__list {
    & li {
      padding: 10px;
      border: 1px solid g.$gray;
      border-bottom: none;
      position: relative;
      @include g.transition();

      &:hover {
        background-color: g.$black;
        color: g.$white;

        &::before,
        &::after {
          background-color: g.$white;
          right: 5px;
        }
      }

      &::before {
        content: "";
        width: 30px;
        height: 1px;
        border-radius: 1px;
        background-color: g.$black;
        position: absolute;
        right: 20px;
        top: 50%;
        @include g.transition();
      }

      &::after {
        content: "";
        width: 10px;
        height: 1px;
        border-radius: 1px;
        background-color: g.$black;
        position: absolute;
        right: 20px;
        top: 50%;
        transform-origin: right;
        transform: rotate(-30deg);
        @include g.transition();
      }

      &:last-of-type {
        border-bottom: 1px solid g.$gray;
      }
    }

    & a {
      display: block;
    }
  }
}
